/* Error: Inconsistent indentation, expected 4 spaces.
 *   ,
 * 8 |   font-size: 62.5%
 *   | ^^
 *   '
 *   sass\_common.sass 8:1  @import
 *   sass\style.sass 1:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Inconsistent indentation, expected 4 spaces.\a   \2577 \a 8 \2502    font-size: 62.5%\d\a   \2502  ^^\a   \2575 \a   sass\\_common.sass 8:1  @import\a   sass\\style.sass 1:9    root stylesheet";
}
