.footer {
  padding: 8rem 0;
  background: #333333;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }

  &__logo {
    width: 12rem;
}
}