.tour-card {
  position: relative;
  min-height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  &__side {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 1s;
    backface-visibility: hidden;
    background: $color-white;
   
    box-shadow: 0px 0.4rem 0.4rem rgb(0 0 0 / 30%);
    border-radius: 0.5rem;
    overflow: hidden;

    &_front {

    }

    &_back {
      display: flex;
      flex-direction: column;
      padding: 3rem;
      align-items: center;
      justify-content: space-around;
      
      transform: rotateY(180deg);
      background: linear-gradient(120deg, $color-brown-light, $color-brown-dark);
    }
  }

  &__text {
    color: #ffffff;
    text-transform: uppercase;
    &_1 {
      font-size: 1.6rem;
      font-weight: 300;
    }
    &_2{
      font-size: 6rem;
      font-weight: 500;      
    }
    
  }

  &:hover &__side_front {
    transform: rotateY(-180deg);
  }
  &:hover &__side_back {
    transform: rotateY(0deg);
  }

  &__img {
    height: 21rem;
    margin-bottom: 5rem;
    background-blend-mode: hard-light;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }

  &__img_1 {
    background: #BA8554 url(../assets/images/card-1.jpg) center/cover no-repeat;
  }
  &__img_2 {
    background: #BA8554 url(../assets/images/card-2.jpg) center/cover no-repeat;
  }
  &__img_3 {
    background: #BA8554 url(../assets/images/card-3.jpg) center/cover no-repeat;
  }

  &__title {
    position: absolute;
    top: 17rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 2.8rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
}

  &__span {
    padding: 0.3rem 2rem 0.3rem 2rem;
    background: linear-gradient(90deg, $color-brown-light, $color-brown-dark);

    &_2 {
      transform: translateY(-6px);
    }
  }

  &__list {
    text-align: center;
    text-decoration: underline;
    li:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}